html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lb-black-background);
    font-family: Roboto, sans-serif !important;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 1px;
    overflow-x: hidden !important;
}
a {
    color: var(--lb-red);
}

a:hover {
    color: var(--lb-red-dark);
}
h1,h2,h3,h4,h5,h6,p {
    font-weight: 300;
}

.header {
    padding-top: 50px;
    position: relative;
    width: 100%;
    background-size: cover !important;
    /*animation: bg-slide 10s linear 0s alternate infinite;*/
}
.header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    transform: translateZ(1px);
}
.header-img:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    /*background-image: linear-gradient(0deg,var(--lb-black-background), rgba(0, 0, 0, 0));*/
    background-color: rgba(0, 0, 0, 0.54);
}
@-webkit-keyframes bg-slide {
    from { background-position: 0 -100px; }
    to { background-position: 0 0; }
}

.content {
    max-width: 700px;
    min-height: 60vh;
}

.logo-wrapper {
    padding: var(--lb-padding);
    border-radius: var(--lb-border-radius);
    background-color: rgba(255, 255, 255, 0.84);
    visibility: hidden;
}
.hit3-wrapper {
    position: relative;
    background-color: var(--lb-black-background);
    /*border-top-right-radius: var(--lb-border-radius);
    border-top-left-radius: var(--lb-border-radius);*/
    padding: var(--lb-padding) 10px;
    z-index: 1;
    border: 1px solid var(--lb-red);
    -webkit-box-shadow: 0 20px 30px 0 rgba(145, 0, 8, 0.42);
    box-shadow: 0 15px 30px 0 rgba(145, 0, 8, 0.42);
}
.hit3-wrapper:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: -1;
}
.leaf-shapex {
    border-top-right-radius: var(--lb-border-radius);
    border-bottom-left-radius: var(--lb-border-radius);
}

.question {
    padding: var(--lb-padding);
    background-image: linear-gradient(90deg,var(--lb-blue-dark),var(--lb-blue-light));
    color: var(--lb-white-text);
    text-transform: uppercase;
    font-weight: 300;
}

.answers {
    padding-top: 30px;
    min-height: 300px;
}

.answer {
    position: relative;
    user-select: none;
    margin-top: 15px;
    padding: var(--lb-padding);
    border: 1px solid var(--lb-red);
    color: var(--lb-white-text);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 300;
    z-index: 1;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.answer:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: inherit;
    opacity: 0;
    z-index: -1;
    background-image: linear-gradient(90deg,var(--lb-red),var(--lb-orange)) !important;
    -webkit-transition: opacity .35s ease;
    transition: opacity .35s ease;
}
.answer:hover:before {
    opacity: 1 !important;
    -webkit-box-shadow: 0 20px 30px 0 rgba(145, 0, 8, 0.42);
    box-shadow: 0 20px 30px 0 rgba(145, 0, 8, 0.42);

    outline: 10px solid rgba(255, 81, 44, 0.41);

    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}
.answer.checked {
    background-color: var(--lb-red-dark);
}
.nav-buttons {
    width: 100%;
}
.nav-buttons .btn {
    text-transform: uppercase;
    padding: var(--lb-padding) 50px;
}

.intro {
    color: var(--lb-white-text);
    text-align: center;
}
.intro .btn {
    margin: 20px;
    text-transform: uppercase;
}

.congratulations {
    background-image: linear-gradient(90deg,var(--lb-red),var(--lb-orange));
    color: var(--lb-white-text);
    margin-top: 50px;
    padding: var(--lb-padding);
    font-weight: 300 !important;
    text-align: center;
}
.congratulations h3 {
    margin-bottom: 50px;
}
.congratulations p {
    font-size: 1.2em;
}

.footer {
    background-color: #131313;
    padding: var(--lb-padding) 0;
    font-size: 14px;
    font-weight: 300;
    color: var(--lb-white-text);
}
.footer a {
    color: var(--lb-red);
}

/*btn*/
.btn, .btn:hover, .btn:focus {
    border-radius: 1px;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    font-weight: 300;
    padding: var(--lb-padding);
    position: relative;

    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-success {
    background-image: linear-gradient(90deg,var(--lb-blue-dark), var(--lb-blue-light));
}
.btn-success:hover, .btn-success:hover:active, .btn-success:active {
    background-image: linear-gradient(90deg,var(--lb-red), var(--lb-orange));
    outline: 10px solid rgba(255, 81, 44, 0.44) !important;
}
.btn:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}
.btn-animate {
    outline: 10px solid rgba(255, 81, 44, 0.44) !important;
}

/*progressbar*/
.progress-control-wrapper {
    width: 50%;
    padding: var(--lb-padding);
    text-align: center;
    margin: auto;
}
.progressbar {
    min-height: 30px;
}
.progressbar div {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar div:before {
    width: 15px;
    height: 15px;
    content: '';
    line-height: 30px;
    border: 1px solid var(--lb-progressbar-inactive);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 0;
    background-color: var(--lb-progressbar-inactive);
}
.progressbar div:after {
    width: calc(100% - 20px);
    height: 2px;
    content: '';
    position: absolute;
    background-color: var(--lb-progressbar-inactive);
    top: 7px;
    left: calc(-50% + 10px);
}
.progressbar div:first-child:after {
    content: none;
}
.progressbar div.active {
    color: var(--lb-red);
}
.progressbar div.active:before {
    -webkit-box-shadow: 0 20px 30px 0 rgba(145, 0, 8, 0.42);
    box-shadow: 0 20px 30px 0 rgba(145, 0, 8, 0.42);
}
.progressbar .active.current {
    outline: 5px solid rgba(255, 81, 44, 0.41);
}
.progressbar div.active:before {
    border-color: var(--lb-red);
    background-color: var(--lb-red);
}
.progressbar div.active + div:after {
    background-color: var(--lb-red);
}
.progressbar div:not(.active):after {
    background-color: var(--lb-progressbar-inactive) !important;
}