html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lb-black-background);
    font-family: Roboto, sans-serif !important;
    font-size: 18px;
}
a {
    color: var(--lb-red);
}

a:hover {
    color: var(--lb-red-dark);
}

.header {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    height: 40vh;
    background-size: 100%;
    /*animation: bg-slide 10s linear 0s alternate infinite;*/
}
@-webkit-keyframes bg-slide {
    from { background-position: 0 -100px; }
    to { background-position: 0 0; }
}

.content {
    max-width: 700px;
    min-height: 60vh;
}

.logo-wrapper {
    padding: var(--lb-padding);
    border-radius: var(--lb-border-radius);
    background-color: rgba(255, 255, 255, 0.84);
}
.hit3-wrapper {
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 50%;
}

.question {
    padding: var(--lb-padding);
    border-radius: var(--lb-border-radius);
    background-color: var(--lb-blue-dark);
    color: var(--lb-white-text);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.answers {
    padding-top: 30px;
    min-height: 300px;
}

.answer {
    margin-top: 15px;
    padding: var(--lb-padding);
    border-radius: var(--lb-border-radius);
    background-color: transparent;
    border: 2px solid var(--lb-red);
    color: var(--lb-white-text);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.answer:hover {
    background-color: var(--lb-red) !important;
}
.answer.checked {
    background-color: var(--lb-red-dark);
}
.nav-buttons {
    width: 100%;
}
.nav-buttons .btn {
    text-transform: uppercase;
    padding: var(--lb-padding) 50px;
}

.intro {
    color: var(--lb-white-text);
    text-align: center;
}
.intro .btn {
    margin-top: 20px;
    text-transform: uppercase;
}

.congratulations {
    border-radius: var(--lb-border-radius);
    background-color: var(--lb-red);
    color: var(--lb-white-text);
    margin-top: 50px;
    padding: var(--lb-padding);
    text-align: center;
}
.congratulations h3 {
    margin-bottom: 50px;
}
.congratulations p {
    font-size: 1.2em;
}

.footer {
    background-color: var(--lb-blue-dark);
    padding: var(--lb-padding) 0;
    font-size: 12px;
    color: var(--lb-white-text);
}
.footer a {
    color: var(--lb-red);
}

/*btn*/
.btn, .btn:hover, .btn:focus {
    border-radius: var(--lb-border-radius);
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    font-weight: 600;
    padding: var(--lb-padding);
}
.btn-success {
    background-color: var(--lb-blue-light) !important;
}
.btn-success:hover, .btn-success:hover:active, .btn-success:active {
    background-color: var(--lb-blue-dark) !important;
}


/*progressbar*/
.progress-control-wrapper {
    width: 100%;
    padding: var(--lb-padding);
    height: 150px;
}
.progressbar {
    min-height: 30px;
}
.progressbar div {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar div:before {
    width: 30px;
    height: 30px;
    content: '';
    line-height: 30px;
    border: 5px solid var(--lb-progressbar-inactive);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: var(--lb-progressbar-inactive);
}
.progressbar div:after {
    width: calc(100% - 40px);
    height: 4px;
    content: '';
    position: absolute;
    background-color: var(--lb-progressbar-inactive);
    top: 14px;
    left: calc(-50% + 20px);
}
.progressbar div:first-child:after {
    content: none;
}
.progressbar div.active {
    color: var(--lb-red);
}
.progressbar div.active:before {
    border-color: var(--lb-red);
    background-color: var(--lb-red);
}
.progressbar div.active + div:after {
    background-color: var(--lb-red);
}
.progressbar div:not(.active):after {
    background-color: var(--lb-progressbar-inactive) !important;
}